name: CI-CD - DEVOPS
on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Autenticando no Docker Registry
        uses: docker/login-action@v2.2.0
        with:
          username: rmlswin@gmail.com
          password: 30041995@Moraes!
      - name: Docker build - IMAGEM APP CONVERSAO
        uses: docker/build-push-action@v4.1.1
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: |
            rnamoraes/app-convert:v${{ github.run_number }}
            rnamoraes/app-convert:latest
